rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Règle spécifique pour la collection "jobs"
    // Autorise la lecture par n'importe qui (public)
    // Autorise l'écriture uniquement pour les utilisateurs authentifiés (admin)
    match /jobs/{jobId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    // Règle par défaut pour TOUTES LES AUTRES collections
    // Exige une authentification pour toute lecture ou écriture.
    // Ne s'applique pas à /jobs car une règle plus spécifique a déjà été trouvée.
    match /{path=**}/documents/{document} {
        allow read, write: if request.auth != null;
    }
  }
}
